form {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

form input[type="text"] {
  width: 80%;

  border: 1px solid #000000;
}

form input[type="submit"] {
  padding: 0 30px;

  border: 1px solid #000000;
}

.error-message {
  display: none;
  margin-top: 5px;

  color: red;
}

.error-message.active {
  display: block;
}